// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// mdi fonts
@import '~@mdi/font/css/materialdesignicons.min.css';

.v-btn {
    font-weight: normal;
    font-size: 16px;
    color: #4e4d4d;
}

.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
    height: 38px;
    border-radius: 3px;
}

.v-btn.v-item--active.v-btn--active.v-btn--contained.theme--dark.v-size--default {
    color: #c9c8c8;
    background-color: #202020;
}

.btn--capitalize {
    text-transform: capitalize;
}

.btn--upper {
    text-transform: uppercase;
}

.btn--lower {
    text-transform: lowercase;
}

.text-opacity--half {
    opacity: 0.5;
}

.v-list-item__content {
    padding-right: 5px;
}


.subcomment {
    border-left: 2px solid #39393e;
}

.comment-header__element {
    margin-left: 5px;
    margin-right: 5px;
}

.v-list--three-line .v-list-item .v-list-item__subtitle, .v-list-item--three-line .v-list-item__subtitle {
  -webkit-line-clamp:unset;
  white-space: pre-wrap;
}